# Decision Trees

Company Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
company = pd.read_csv("Company_Data.csv")
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
##Checking for maximum and minimum values to decide what will be the cut off point
company["Sales"].min()
company["Sales"].max()
company["Sales"].value_counts()

7.80     4
6.67     3
8.77     3
9.32     3
5.87     3
        ..
8.89     1
13.39    1
9.14     1
5.07     1
9.50     1
Name: Sales, Length: 336, dtype: int64

In [5]:
#Knowing the middle value by looking into median so that i find the middle value to check to divide data into two levels.
np.median(company["Sales"])
company["sales"]= "<=7.49"
company.loc[company["Sales"]>=7.49,"sales"]=">=7.49"

In [6]:
company["sales"].unique()

array(['>=7.49', '<=7.49'], dtype=object)

In [7]:
company.drop(["Sales"],axis=1,inplace = True)

In [8]:
company.isnull().sum()

CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
sales          0
dtype: int64

In [9]:
##Checking the data type
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CompPrice    400 non-null    int64
 1   Income       400 non-null    int64
 2   Advertising  400 non-null    int64
 3   Population   400 non-null    int64
 4   Price        400 non-null    int64
 5   ShelveLoc    400 non-null    object
 6   Age          400 non-null    int64
 7   Education    400 non-null    int64
 8   Urban        400 non-null    object
 9   US           400 non-null    object
 10  sales        400 non-null    object
dtypes: int64(7), object(4)
memory usage: 34.5+ KB

In [10]:
##Checking the data type
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CompPrice    400 non-null    int64
 1   Income       400 non-null    int64
 2   Advertising  400 non-null    int64
 3   Population   400 non-null    int64
 4   Price        400 non-null    int64
 5   ShelveLoc    400 non-null    object
 6   Age          400 non-null    int64
 7   Education    400 non-null    int64
 8   Urban        400 non-null    object
 9   US           400 non-null    object
 10  sales        400 non-null    object
dtypes: int64(7), object(4)
memory usage: 34.5+ KB

In [12]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [13]:
for column_name in company.columns:
    if company[column_name].dtype == object:
        company[column_name] = le.fit_transform(company[column_name])
    else:
        pass

In [14]:
features = company.iloc[:,0:10] 
labels = company.iloc[:,10]

In [15]:
##Splitting the data
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size=0.3,stratify = labels)

In [16]:
y_train.value_counts()

1    141
0    139
Name: sales, dtype: int64

In [17]:
y_test.value_counts()

1    60
0    60
Name: sales, dtype: int64

In [18]:
#Building the model
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [19]:
model = DT(criterion='entropy') 
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [23]:
##prediction on Training data
pred_train = pd.DataFrame(model.predict(x_train))
pred_train

     0
0    1
1    0
2    0
3    1
4    1
..  ..
275  1
276  0
277  1
278  0
279  0

[280 rows x 1 columns]

In [22]:
acc_train = accuracy_score(y_train,pred_train)
acc_train

1.0

In [24]:
##prediction on test data
pred_test = pd.DataFrame(model.predict(x_test))
pred_test

     0
0    0
1    1
2    0
3    1
4    1
..  ..
115  1
116  0
117  0
118  1
119  1

[120 rows x 1 columns]

In [25]:
acc_test = accuracy_score(y_test,pred_test)

In [26]:
acc_test

0.7583333333333333

In [27]:
##Confusion matrix
confusion_test = pd.DataFrame(confusion_matrix(y_test,pred_test))
confusion_test

    0   1
0  45  15
1  14  46